HELIUM_BIND_ADDR=0.0.0.0:8000
HELIUM_HEALTHCHECK_URL=http://127.0.0.1:8000/healthz

UBO_PROXY_BASE_URL=https://helium.example.com/ubo/
UBO_USE_ORIGINAL_UBLOCK_ASSETS=false
# UBO_ASSETS_JSON_URL=
# UBO_ASSETS_JSON_SHA256=

PROXY_BASE_URL=https://helium.example.com/ext/
HMAC_SECRET=replace-with-at-least-32-random-characters
